.job-description {
    font-family: var(--bodyFont);
    font-weight: 500;
    text-align: justify;
}

.job {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.job:last-child {
    margin-bottom: 0;
}

.job h6,h5,h4,h3 {
    margin: 8px;
}

.iconify-calendar {
    margin-bottom: -2px;
    margin-right: 8px;
}

.job-link {
    color: var(--primaryColor);
}

.job-link:visited {
    color: var(--primaryColor);
}