<app-blog-header></app-blog-header>
<div class="empty-result" *ngIf="posts.length == 0">
    <div>
        {{t('blogEmptyResult')}}
    </div>
    <div class="empty-image">
        <img class="no-result" src="/assets/images/no-results.png" alt="No results">
    </div>
</div>
<div class="post-body skeleton-loader" *ngFor="let post of posts">
    <div>
        <a class="link post-title skeleton-loader" title="{{post.title}}"
            routerLink="/blog/{{post.postId}}">{{post.title}}</a>
    </div>
    <div class="post-created-at skeleton-loader">
        <span class="skeleton-loader"
            title="{{'This post as created at ' + formatDate(post.createdAt)}}">{{formatDate(post.createdAt)}}</span>
    </div>
    <div class="post-description skeleton-loader">
        <span class="skeleton-loader" title="{{post.description}}">{{post.description}}</span>
    </div>
    <div class="post-image-background skeleton-loader skeleton-loader-image">
        <img *ngIf="!!post.imageDisplay" class="post-image skeleton-loader skeleton-loader-image" alt="Image display"
            src="{{post.imageDisplay}}" />
    </div>
    <div class="skeleton-loader">
        <a *ngIf="post.postId > 0" title="{{t('blogReadMore')}}" class="link post-read-more skeleton-loader"
            routerLink="/blog/{{post.postId}}">
            {{t('blogReadMore')}}
        </a>
        <a *ngIf="post.quantityComments > 0" class="link post-read-more skeleton-loader"
            routerLink="/blog/{{post.postId}}">
            {{post.quantityComments}} {{getCommentText(post.quantityComments)}}
        </a>
    </div>
</div>
<div class="pagination-block">
    <button class="button-pagination" *ngIf="currentPage > 1" (click)="changePage(-1)">
        <span class="iconify" data-icon="mdi:chevron-left"></span>
    </button>
    <div *ngIf="currentPage > 1" class="current-page">
        {{currentPage}}
    </div>
    <button class="button-pagination" *ngIf="hasNextPage" (click)="changePage(+1)">
        <span class="iconify" data-icon="mdi:chevron-right"></span>
    </button>
</div>
<app-footer></app-footer>