<app-blog-header></app-blog-header>
<div class="empty-result" *ngIf="posts.length == 0">
    <div>
        {{t('blogEmptyResult')}}
    </div>
    <div class="empty-image">
        <img class="no-result" src="/assets/images/no-results.png" alt="No results">
    </div>
</div>
<div class="post-body skeleton-loader" *ngFor="let post of posts">
    <div>
        <a class="link post-title skeleton-loader" title="{{getTitle(post)}}" (click)="setPost(post)"
            routerLink="/blog/{{getFormatedTitle(post)}}">{{getTitle(post)}}</a>
    </div>
    <div class="post-created-at skeleton-loader">
        <span class="skeleton-loader"
            title="{{'This post as created at ' + formatDate(post.createdAt)}}">{{formatDate(post.createdAt)}}</span>
    </div>
    <div class="post-description skeleton-loader">
        <span class="skeleton-loader" title="{{getDescription(post)}}">{{getDescription(post)}}</span>
    </div>
    <div *ngIf="post.displayType == 2">
        <div class="post-image-background skeleton-loader skeleton-loader-image">
            <img *ngIf="!!post.display" class="post-image" alt="Image display" src="{{getSrc(post.display)}}" />
        </div>
    </div>
    <div class="post-image-background video-background skeleton-loader skeleton-loader-image" *ngIf="post.displayType == 1">
        <iframe title="youtube video" class="iframe-youtube" [src]="getYoutubeLink(post)"> </iframe>
    </div>
    <div class="skeleton-loader">
        <a *ngIf="post.id != ''" title="{{t('blogReadMore')}}" class="link post-read-more skeleton-loader"
            routerLink="/blog/{{getFormatedTitle(post)}}" (click)="setPost(post)">
            {{t('blogReadMore')}}
        </a>
        <span *ngIf="post.comments.length" class="post-comment skeleton-loader">
            {{post.comments.length}} {{getCommentText(post.comments.length)}}
        </span>
    </div>
    <div class="tags">
        <a class="post-tag" routerLink="/blog/tags/{{tag.name}}" *ngFor="let tag of post.tags">
            <span class="iconify iconify-tag" data-icon="mdi:tag"></span>
            &nbsp;{{tag.name}}
        </a>
    </div>
</div>
<div class="pagination-block">
    <button class="button-pagination" *ngIf="currentPage > 1" (click)="changePage(-1)">
        <span class="iconify" data-icon="mdi:chevron-left"></span>
    </button>
    <div *ngIf="currentPage > 1" class="current-page">
        {{currentPage}}
    </div>
    <button class="button-pagination" *ngIf="hasNextPage" (click)="changePage(+1)">
        <span class="iconify" data-icon="mdi:chevron-right"></span>
    </button>
</div>
<app-footer></app-footer>