.input {
    margin-top: 8px;
    height: 30px;
    width: 100%;
}

.textarea {
    resize: none;
    min-height: 200px;
}

.form-full {
    width: 100%;
}

.form-group {
    margin-bottom: 16px;
}

.contact-component {
    margin-top: 32px !important;
}

.form-submited-show {
    display: block !important;
}

.form-submited {
    display: none;
}

.form-hidden {
    display: none;
}