<app-blog-header></app-blog-header>
<div class="text-center" *ngIf="!comments || comments.length == 0">
    No data.
</div>
<div class="comment-page">
    <div class="comment" *ngFor="let comment of comments">
        <div>
            User: <strong>{{comment.username}}</strong>
        </div>
        <div>
            {{comment.content}}
        </div>
        <div>
            <button (click)="approveDenyComment(comment.id, true, comment.isReply)" class="btn-comment comment-approve">Approve</button>
            <button (click)="approveDenyComment(comment.id, false, comment.isReply)" class="btn-comment comment-deny">Deny</button>
        </div>
    </div>
</div>