.about-me-body {
    font-family: var(--bodyFont);
    white-space: pre-line;
    font-weight: 500;
    text-align: justify;
}

.about-me {
    margin-bottom: 92px !important;
}

.button-follow {
    margin-top: 48px !important;
}