.home-page {
    font-family: "Raleway", sans-serif;
}

.hello-background {
    max-width: 270px;
}

.hello {
    font-size: 36px;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.welcome {
    font-size: 22px;
    font-weight: 300;
}

.link-company {
    font-size: 22px;
    font-weight: 300;
}

.welcome-background {
    max-width: 250px;
}