.page-with-profile {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.page-with-menu {
    overflow-y: auto;
    width: 100%;
}

@media (max-width: 768px) {
    .page-with-profile {
        flex-direction: column;
    }

    .full-page {
        height: 100vh;
        width: 100vw;
    }

    .page-with-menu {
        margin-top: 56px;
        overflow: unset;
        width: unset;
    }
}
