.profile-picture {
    border-radius: 100%;
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.home-page {
    font-family: "Raleway", sans-serif;
}

.hello {
    font-size: 36px;
    font-weight: 500;
}

.hello-background {
    max-width: 250px;
}

.welcome {
    font-size: 22px;
    font-weight: 300;
}

.text-center {
    text-align: center;
}
