.image-profile {
    width: 200px;
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
}

.profile-links {
    display: flex;
    flex-direction: column;
}

.hello {
    padding-top: 64px;
    color: white;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}

.profile-links a {
    text-decoration: none;
    color: white;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
}

.profile-links a:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondaryColor);
}

.profile-links {
    text-align: center;
}

.passionate-developer {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
}

.profile-component {
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
    min-width: 320px;
    height: 100%;
    position: fixed;
    min-height: 100vh;
}

.icon-white {
    color: white;
}

.bottom-links a {
    font-size: 30px;
    margin-left: 16px;
}

.bottom-links a:first-child {
    margin-left: 0;
}

.bottom-links a:hover {
    zoom: 1.1;
}

.language-changer {
    color: white;
    padding: 8px;
    border: 1px solid #e8e8e8;
    margin-bottom: 64px;
    cursor: pointer;
}

.language-changer:hover {
    border-color: var(--secondaryColor);
    color: var(--secondaryColor);
}

.iconify-globe {
    margin-right: 8px;
    margin-bottom: -3px;
}

@media (max-width: 768px) {
    .profile-component {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-width: 100vw;
        position: unset;
    }

    .hello {
        color: black;
        padding-top: 32px;
    }

    .language-changer {
        color: black;
        border-color: black;
    }

    .icon-white {
        color: black;
    }

    .passionate-developer {
        color: black;
        margin-bottom: 32px;
    }

    .profile-links a {
        color: black;
    }

    .profile-links {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .bottom-links {
        margin-bottom: 32px;
    }
}
