.contact-page {
    padding-left: 32px;
    padding-right: 32px;
    font-family: "Merriweather", serif;
    padding-bottom: 48px;
    margin: 0 auto;
    max-width: 720px;
    margin-bottom: 64px;
}

.get-in-touch {
    font-size: 48px;
    margin-bottom: 48px;
    text-align: center;
}

.contact-input {
    margin-bottom: 48px;
}

.input-consent {
    margin-top: 32px;
}

.button {
    padding: 16px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #111317;
    font-family: "Merriweather", serif;
    font-size: 18px;
    cursor: pointer;
}

.button:hover {
    background-color: #46484b;
}

.btn-submit {
    margin-top: 48px;
    text-align: center;
}

.form-contact-sent {
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-family: "Merriweather", serif;
    color: white;
    background-color: #64caa3;
    margin-top: 32px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .contact-page {
        margin: unset;
        max-width: unset;
        margin-bottom: 64px;
    }
}
