.img-error {
    max-height: 200px;
}

.not-found-page {
    max-width: 720px;
    margin: 0 auto;
    padding: 24px;
    text-align: center;
}

.oops {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 48px;
}

.go-back {
    font-size: 24px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 16px;
}

.go-back:hover {
    background-color: #cecece;
}