<app-blog-header></app-blog-header>
<div class="post-detail skeleton-loader">
    <div class="post-title skeleton-loader">
        <span class="skeleton-loader">{{getTitle()}}</span>
    </div>
    <div class="post-created-at skeleton-loader">
        <span *ngIf="post" class="skeleton-loader">{{formatDate(post.createdAt)}}</span>
    </div>
    <div class="post-description skeleton-loader">
        <span class="skeleton-loader">{{getDescription()}}</span>
    </div>
    <div *ngIf="post && post.displayType == 2">
        <div class="post-image-background skeleton-loader skeleton-loader-image">
            <img *ngIf="!!post.display" class="post-image" alt="Image display" src="{{getSrc(post.display)}}" />
        </div>
    </div>
    <div class="post-image-background video-background skeleton-loader skeleton-loader-image"
        *ngIf="post && post.displayType == 1">
        <iframe title="youtube video" class="iframe-youtube" [src]="getYoutubeLink()"> </iframe>
    </div>
    <div [id]="editorId" class="post-content skeleton-loader skeleton-loader-image">
    </div>
    <div class="tags" *ngIf="post">
        <div class="post-tag" (click)="searchByTag(tag.name)" *ngFor="let tag of post.tags">
            <span class="iconify iconify-tag" data-icon="mdi:tag"></span>
            &nbsp;{{tag.name}}
        </div>
        <div class="separator"></div>
        <div class="share">
            <a href="{{shareTwitterUrl()}}" rel="nofollow noreferrer noopener external" target="_blank"
                class="share-button">
                <span class="iconify iconify-share" data-icon="mdi:twitter"></span>
            </a>
            <a href="{{shareFacebookUrl()}}" rel="nofollow noreferrer noopener external" target="_blank"
                class="share-button">
                <span class="iconify iconify-share" data-icon="mdi:facebook"></span>
            </a>
            <a href="{{shareLinkedinUrl()}}" rel="nofollow noreferrer noopener external" target="_blank"
                class="share-button">
                <span class="iconify iconify-share" data-icon="mdi:linkedin"></span>
            </a>
            <div (click)="copyUrl()" class="share-button">
                <span class="iconify iconify-share" data-icon="mdi:link-variant"></span>
            </div>
        </div>
    </div>
</div>
<div class="comment-submited-background" id="comment-submited" *ngIf="commentSubmited">
    <div class="comment-submited">
        {{t('blogCommentAdded')}}
    </div>
</div>
<div class="comment-section skeleton-loader">
    <div class="add-comment" (click)="scrollToAddComment()">
        {{t('blogAddComment')}}
    </div>
    <div class="comments-block" *ngIf="post && post.comments.length > 0">
        <div class="comment-section-name">
            {{t('blogCommentsBlock')}}
        </div>
        <div>
            <div class="comment-block skeleton-loader skeleton-loader-image" *ngFor="let comment of post.comments">
                <div class="comment-user-date">
                    <div>
                        <span class="skeleton-loader">{{comment.userName}}&nbsp;-</span>
                    </div>
                    <div class="comment-created-at">
                        <span class="skeleton-loader">&nbsp;{{formatDate(comment.createdAt)}}</span>
                    </div>
                </div>
                <div class="comment-content">
                    <span class="skeleton-loader">{{comment.content}}</span>
                </div>
                <div class="comment-reply" (click)="showReplyComment(comment.id)">
                    {{t('blogReply')}}
                </div>
                <div class="reply-block" *ngIf="comment.replies.length > 0">
                    <div class="reply-block-comment" *ngFor="let reply of comment.replies">
                        <div class="comment-user-date">
                            <div>
                                <span class="skeleton-loader">{{reply.userName}}&nbsp;-</span>
                            </div>
                            <div class="comment-created-at">
                                <span class="skeleton-loader">&nbsp;{{formatDate(reply.createdAt)}}</span>
                            </div>
                        </div>
                        <div class="replying-to" *ngIf="!!reply.replyingToId">
                            <span>{{t('blogReplyingTo')}}{{replyingTo(comment.id, reply.replyingToId)}}</span>
                        </div>
                        <div class="comment-content">
                            <span class="skeleton-loader">{{reply.content}}</span>
                        </div>
                        <div class="comment-reply" (click)="showReplyToReply(comment.id, reply.id)">
                            {{t('blogReply')}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="addingComment" class="add-comment-block-background">
    <form ngNativeValidate [formGroup]="addCommentForm" class="add-comment-block" (ngSubmit)="addComment()"
        id="add-comment">
        <div class="add-comment-block-header">
            <span>{{t('blogAddComment')}}</span>
        </div>
        <div class="contact-input">
            <div class="input-container">
                <input name="userName" maxlength="100" formControlName="name" id="userName" class="input" type="text"
                    required />
                <label class="label" for="userName">{{t('blogAddCommentName')}}</label>
            </div>
        </div>
        <div>
            <div class="input-container">
                <textarea rows="10" maxlength="1000" formControlName="content" id="content" name="content"
                    class="textarea" required></textarea>
                <label class="label" for="content">{{t('blogAddCommentContent')}}</label>
            </div>
        </div>
        <div class="btns-comment">
            <div class="btn-submit">
                <button type="button" (click)="cancelComment()" class="button btn-cancel">{{t('blogCancel')}}</button>
            </div>
            <div class="btn-submit">
                <button type="submit" class="button">{{t('blogAddComentButton')}}</button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="replyingComment" class="add-comment-block-background">
    <form ngNativeValidate [formGroup]="addCommentForm" class="add-comment-block" (ngSubmit)="replyComment()"
        id="add-comment">
        <div class="add-comment-block-header">
            <span>{{t('blogReplyComment')}}</span>
        </div>
        <div class="contact-input">
            <div class="input-container">
                <input name="userName" maxlength="100" formControlName="name" id="userName" class="input" type="text"
                    required />
                <label class="label" for="userName">{{t('blogAddCommentName')}}</label>
            </div>
        </div>
        <div>
            <div class="input-container">
                <textarea rows="10" maxlength="1000" formControlName="content" id="content" name="content"
                    class="textarea" required></textarea>
                <label class="label" for="content">{{t('blogAddCommentContent')}}</label>
            </div>
        </div>
        <div class="btns-comment">
            <div class="btn-submit">
                <button type="button" (click)="cancelComment()" class="button btn-cancel">{{t('blogCancel')}}</button>
            </div>
            <div class="btn-submit">
                <button type="submit" class="button">{{t('blogAddComentButton')}}</button>
            </div>
        </div>
    </form>
</div>
<div id="snackbar">{{t('urlCopied')}}</div>
<app-footer></app-footer>