.post-title {
    font-size: 24px;
    font-weight: 700;
}

.post-description {
    text-align: justify;
}

.post-created-at {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 100;
    color: #333333;
}

.post-detail {
    padding: 24px;
    max-width: 960px;
    margin: 0 auto;
}

.post-image {
    width: 100%;
    height: unset;
}

.post-image-background {
    margin-top: 24px;
    margin-bottom: 16px;
}

.comment-section {
    padding: 24px;
    max-width: 960px;
    margin: 0 auto;
}

.comments-block {
    margin-top: 24px;
    margin-bottom: 48px;
    border: 1px solid black;
    padding: 24px;
}

.add-comment-block-background {
    padding: 24px;
    max-width: 960px;
    margin: 0 auto;
}

.comment-section-name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
}

.comment-user-date {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.comment-created-at {
    font-weight: 100;
    font-size: 14px;
}

.comment-content {
    text-align: justify;
    font-size: 14px;
    margin-bottom: 16px;
}

.comment-reply {
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
}

.add-comment {
    text-decoration: underline;
    display: inline-block;
}

.add-comment:hover {
    color: #8b8a8a;
    cursor: pointer;
}

.comment-block:last-child {
    margin-bottom: 0;
}

.comment-block {
    margin-bottom: 36px;
}

.reply-block {
    margin-top: 24px;
    padding-left: 48px;
}

.replying-to {
    margin-bottom: 16px;
    font-size: 12px;
}

.reply-block-comment {
    margin-bottom: 24px;
}

.comment-reply:hover {
    color: #8b8a8a;
    cursor: pointer;
}

.add-comment-block-header {
    padding-bottom: 36px;
    font-weight: bold;
    font-size: 18px;
}

.add-comment-block {
    padding: 24px;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 48px;
    border: 1px solid black;
}

.btns-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-cancel {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
    margin-right: 16px;
    border-radius: 10px;
    padding: 15px !important;
}

.tags {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.iconify-tag {
    margin-right: 4px;
}

.post-tag {
    margin-right: 16px;
    font-size: 10px;
    text-transform: lowercase;
    color: white;
    background-color: #686767;
    padding: 8px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.post-tag:hover {
    background-color: #3f3f3f;
}

.post-tag:last-child {
    margin-right: 0;
}
