.contact-page {
    padding-left: 32px;
    padding-right: 32px;
    font-family: "Raleway", sans-serif;
    padding-bottom: 48px;
}

.get-in-touch {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 48px;
    text-align: center;
}

.contact-input {
    margin-bottom: 48px;
}

.input-consent {
    margin-top: 32px;
}

.button {
    padding: 16px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #111317;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

.btn-submit {
    margin-top: 48px;
    text-align: center;
}

.form-contact-sent {
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: white;
    background-color: #64caa3;
    margin-top: 32px;
    border-radius: 10px;
}